{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row justify-content-center title">
        <div class="col-md-12 text-center">
            <h1>Wild Ciné</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h2>See what’s next</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="#" class="row shiny-btn justify-content-center">Enter</a>
    </div>
{% endblock %}