.footer-sentence {
  @include title-font;
  color: white;
  background-color: #1b1e21;
  span {
    color: red;
  }
  a {
    @include title-font;
    color: $tertiary;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
  }
  a:hover {
    color: $secondary;
    text-decoration: none;
  }
}