.nav {
  background-color: $primary;
  padding-top: 0.5rem;
  .nav-link {
    @include subTitle-font;
    color: $tertiary;
    font-size: 1.6rem;
  }
  .nav-link:hover {
    color: $secondary;
  }
  .btn-danger {
    margin-top: 0.3rem;
    padding-top: 0.7rem;
    @include title-font;
    font-size: 1.3rem;
    height: 3rem;
  }
  .user-mail {
    @include title-font;
    color: $secondary;
    padding-top: 1rem;
    font-size: 1.3rem;
  }
}