.nav {
  background-color: #1b1e21;
  padding-top: 0.5rem;
  .nav-link {
    font-family: 'Timmana', sans-serif;
    color: white;
    font-size: 1.6rem;
  }
  .nav-link:hover {
    color: darkorange;
  }
}