.register-box {
  background-color: $primary;
  color: $tertiary;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
}

.register-title {
  font-size: 6rem;
}